.carousel {
    max-width: 600px;
    position: relative;
}

.carousel .item,
.carousel .hidden {
    display: none;
}

.carousel .visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .actions button#prev {
    margin-left: 20px;
}

.carousel .actions button#next {
    margin-right: 20px;   
}

.carousel .actions button {
    opacity: 50%;
    color: grey;
}

.carousel .actions button:hover {
    opacity: 90%;
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}